openapi: 3.0.3
info:
  title: Firebase Serverless REST API Demo
  version: 1.8.0
  description: >
    OpenAPI specification for the deployed Firebase Cloud Functions REST API.

servers:
  - url: https://us-central1-assignment4-54794.cloudfunctions.net
    description: Production

tags:
  - name: Health
    description: Health and availability checks
  - name: Comments
    description: Comment creation and retrieval

paths:
  /api/health:
    get:
      tags:
        - Health
      summary: Health check
      description: Returns API health status.
      operationId: getHealth
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              examples:
                healthy:
                  value:
                    ok: true
                    message: API is running

  /api/comments:
    get:
      tags:
        - Comments
      summary: Get comments
      description: Returns stored comments.
      operationId: getComments
      responses:
        '200':
          description: Comments returned successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Comment'
              examples:
                exampleList:
                  value:
                    - id: example-id-1
                      name: Example User
                      comment: Hello world
                    - id: example-id-2
                      name: Another User
                      comment: Second comment

    post:
      tags:
        - Comments
      summary: Create comment
      description: Creates a new comment.
      operationId: createComment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommentRequest'
            examples:
              valid:
                value:
                  name: Example User
                  comment: Hello world
      responses:
        '201':
          description: Comment created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCommentResponse'
              examples:
                created:
                  value:
                    message: Comment created successfully
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid:
                  value:
                    error: Validation failed

components:
  schemas:
    HealthResponse:
      type: object
      required:
        - ok
        - message
      properties:
        ok:
          type: boolean
          example: true
        message:
          type: string
          example: API is running

    Comment:
      type: object
      properties:
        id:
          type: string
          example: example-id-1
        name:
          type: string
          example: Example User
        comment:
          type: string
          example: Hello world

    CreateCommentRequest:
      type: object
      required:
        - name
        - comment
      properties:
        name:
          type: string
          example: Example User
        comment:
          type: string
          example: Hello world

    CreateCommentResponse:
      type: object
      properties:
        message:
          type: string
          example: Comment created successfully

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: Validation failed